*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}
/* html,body{
  width: 100%;
  min-height: 100vh;
} */
.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
}
.nav{
  width: 100%;
  display: flex;
  background: rgb(197, 197, 196);
}
.nav_left{
  width: 33.33%;
  display: flex;
  justify-content: right;
}
.nav_center{
  width: 33.33%;

}
.nav_right{
  width: 33.33%;
}

.screen_view_button{
  width: 8%;
  margin: 0 4%;
}

.body{
  width: 100%;
  min-height: 94.5vh;
  background: white;
}


